body
  background: #fafafa
  color: #333

  font-family: sans-serif

.hero-unit
  width: 300px
  line-height: 30px

  margin: 50px auto 0 auto
  padding: 60px

  background-color: #eee

  border-radius: 6px

  font-size: 18px
  font-weight: 200

  h1
    line-height: 1

    font-size: 60px

    letter-spacing: -1px

.col
  display inline-block
  vertical-align middle
  width 50px

.cell
  background-color #555
  border 1px solid #3A3939
  height 50px
  line-height 50px
  text-align center
  overflow hidden

.dragon, .player
  font-size 30px
  font-weight bold

.dragon
  color green

.player
  color #fff

.bad-soil
  background-color #4E2000

.hole
  background-color #000
  border-radius 50%
  width 80%
  height 80%
  display inline-block
  margin 10%

.grass
  background-color #048A00
  &.bad-soil
    background-color #012500

.grass, .bad-soil, .fog, .river, .content
  width 100%
  height 100%

.fog
  background-color #000

.river
  background-color #00f
  width 10%
  &.LEFT_TOP_AND_RIGHT_BOTTOM
    transform rotate(0.7853981634rad)
    margin-left 45%
  &.LEFT_BOTTOM_AND_RIGHT_TOP
    transform rotate(2.3561944902rad)
    margin-left 45%
  &.LEFT_RIGHT_AND_BOTTOM_TOP
    height 60%
    margin 20%
    width 60%
