doctype html
html(ng-app="gragonHunter")
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    title src

    //Place favicon.ico and apple-touch-icon.png in the root directory

    //build:css styles/vendor.css
    //bower:css
    //endbower
    //endbuild

    //build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    //endbuild
  body(
    ng-controller="mainCtrl as vm"
    ng-keyup="vm.keyUpHandler($event)")
    .container
      .map
        .col(ng-repeat="col in vm.map")
          .cell(
            ng-repeat="cell in col"
            ng-click="vm.clickHandler(cell)")
            div(
              ng-if="!cell.visited"
              class="fog")
            div.content(
              ng-if="cell.visited"
              class="{{cell.river.type}}"
              ng-class="{'dragon': cell.dragon, 'bad-soil': cell.badSoil, 'grass': cell.grass, 'player': cell.player, 'river': cell.river}")
              {{cell.dragon ? 'D' : ''}}
              {{cell.player ? 'P' : ''}}
              .hole(ng-if="cell.hole")
    //- .hero-unit
    //-   h1 'Allo, 'Allo!

    //Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    //build:js scripts/vendor.js
    //bower:js
    script(src='/bower_components/underscore/underscore.js')
    script(src='/bower_components/requirejs/require.js')
    script(src='/bower_components/angular/angular.js')
    //endbower
    //endbuild

    //build:js scripts/main.js
    script(src='scripts/main.js')
    //endbuild
